/$RECYCLE.BIN
/.vscode
/AllaboutSQL
/AUTOMATIC_UPDATE
/BLOCK_STYLER
/Brain-Computing
/CAPITALINTEGRATION
/CLOUDDM
/CMM_INSPECTION
/DESIGNSPACEEXPLORER
/DESIGN_TOOLS
/DIAGRAMCORE
/DIAGRAMMING
/DRAFTING
/GCTOOLKIT
/IGES
/IMMERSIVEEXPERIENCE
/INSTALL
/KDE connect
/LOCALIZATION
/MACH
/MANUFACTURING_PLANNING
/MBD
/MECHATRONICS
/MPA
/NX2DEDIT
/NXASSEMBLY
/NXBIN
/NXHUMAN
/NXPARTS
/NXPLOT
/NXREPORTS
/NX_VSA
/personalarsalan
/POSTBUILD
/Postgrs.session.sql
/PSTUDIO
/PVTRANS
/REL_INFO
/ROUTING
/RULE
/SiemensNXStudentEdition-2406.3002_wntx64
/SiemensNXStudentEdition-2406.3002_wntx64.zip
/SQL
/SQL Projec
/SQL Project
/STAGE_MODEL
/STEP203UG
/STEP214UG
/System Volume Information
/TDP
/Telegram Desktop
/UGII
/UGMANAGER
/UGOPEN
/UGPHOTO
/UGSTUDIO
/UGTIPS
/UNFOLD